* {
    margin: 0;
    padding: 0;
}

main {
    width: 1920px;
    margin: 0 auto;
}

.header {
    background: url("../img/headerBg.png");
    width: 1920px;
    box-sizing: border-box;
    padding-top: 30px;
    background-size: cover;
    padding-bottom: 30px;
}

.header__section {
    width: 1202px;
    display: flex;
    color: white;
    margin: 0 auto;
    justify-content: space-between;

}
.header__section span {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.header__section_navigation  {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    width: 620px;
    justify-content: space-between;
    padding-top: 15px;
    box-sizing: border-box;
}

.header__section_navigation a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
}

.header__section_navigation a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.header__central {
    width: 800px;
    /*height: 542px;*/
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 172px;
    text-align: center;
}
.header__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: white;
    display: block;
}

.header__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 143px;
    color: white;
    font-weight: bold;
    line-height: 1;
    display: block;
    box-sizing: border-box;
    padding: 22px 0 52px;
}


.header__central hr {
    width: 60px;
    margin: 0 auto;
    background-color: white;
    border: none;
    height: 3px;
}

.header__central button {
    width: 160px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: solid 3px white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    /*margin-top: 52px;*/
    margin: 52px 0 158px;
    cursor: pointer;
}

.header__list {
    list-style: none;
    width: 1218px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__list a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    display: block;
    opacity: .7;
    position: relative;
}

.header__list span {
    font-weight: bold;
    font-size: 24px;
}

.header__list hr {
    border: none;
    border-top: 3px solid white;
    width: 280px;
    margin-bottom: 20px;
}

.header__list a:hover hr::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #f38181;
    top: 0;
    position: absolute;
}

.header__list a:hover {
    opacity: 1;
}

.story {
    background: url("../img/storyBg.png");
    width: 1920px;
    height: 756px;
    box-sizing: border-box;
    padding: 93px 0 110px;

}
.story__description, .services__description, .design__description,
.accordion__description, .team__description, .work__description {
    width: 954px;
    text-align: center;
    margin: 0 auto;
}
.story__all {
    width: 1215px;
    height: 551px;
    margin: 0 auto;
    box-sizing: border-box;
}

.story__title, .services__title, .design__title,
.accordion__title, .team__title, .work__title  {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    display: block;
}

.story__subtitle, .services__subtitle, .design__subtitle,
.accordion__subtitle, .team__subtitle, .work__subtitle  {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    box-sizing: border-box;
    padding: 7px 0 36px;
    display: block;
}

.story__description hr, .services__description hr,
.design__description hr, .accordion__description hr,
.team__description hr, .work__description hr {
    border: none;
    width: 62px;
    height: 5px;
    background-color: #f38181;
    margin: 0 auto;
}

.story__paragraph, .services__paragraph, .design__paragraph,
.accordion__paragraph, .team__paragraph, .work__paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    margin-top: 46px;
}

.story__images {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.story__images article:first-of-type{
    width: 380px;
    height: 250px;
    background: url('../img/storyFirstImg.png');
}

.story__images article:nth-child(2) {
    width: 380px;
    height: 250px;
    background: url('../img/storySecondImg.png');
}

.story__images article:last-of-type {
    width: 380px;
    height: 250px;
    background: url('../img/storyThirdImg.png');
}

.story__images article:hover > .article-img_one {
    cursor: pointer;
    height: 250px;
    background-image: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%), url('../img/storyFirstImg.png');
    position: relative;
    bottom: 10px;
    right: 10px;
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    display: block;
}

.story__images article:hover > .article-img_two {
    cursor: pointer;
    height: 250px;
    background-image: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%), url('../img/storySecondImg.png');
    position: relative;
    bottom: 10px;
    right: 10px;
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    display: block;
}
.story__images article:hover > .article-img_three {
     cursor: pointer;
     height: 250px;
     background-image: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%), url('../img/storyThirdImg.png');
     position: relative;
     bottom: 10px;
     right: 10px;
     box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
     display: block;
 }

article > div {
    display: none;
    text-align: center;
    padding-top: 106px;
    box-sizing: border-box;

}

.story__images span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.story__images i {
    font-size: 23px;
    display: block;
    color: white;
    padding-bottom: 17px;
    height: 10px;

}
.score {
    width: 1920px;
    height: 270px;
    background: url('../img/scoreBg.png');
}

.score__section {
    width: 1203px;
    margin: 0 auto;
    height: 270px;
    display: flex;
    justify-content: space-between;
}

.score__number {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: white;
    display: block;
    margin-bottom: 10px;
}



.score__section > div {
    width: 240px;
    text-align: center;
    border-right: 1px solid #b5eae0;
    padding-top: 70px;
    box-sizing: border-box;

}

.score__design {
    border-left: 1px solid #b5eae0;

}

.score__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
}

.services {
    background: url("../img/storyBg.png");
    width: 1920px;
    height: 650px;
    box-sizing: border-box;
    padding: 93px 0 110px;
}

.services__all {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    box-sizing: border-box;
}

.services__text {
    width: 1200px;
    margin-top: 64px;
}

.services__text-one, .services__text-two {
    display: flex;
    justify-content: space-between;

}

.services__text-one span , .services__text-two  span {
    display: block;
}

.services__text-one span:first-of-type,.services__text-two  span:first-of-type {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}

.services__text-one span:last-of-type {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #b3b3b3;
    margin: 14px 0 36px;
    line-height: 1.5;
}

.services__text-two span:last-of-type {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #b3b3b3;
    margin: 14px 0 0;
    line-height: 1.5;
}

.services__text-one div, .services__text-two div {
    width: 336px;
}

.services__text hr {
    border: none;
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
}

.services__all i {
    color: #95e1d3;
    position: absolute;
    /* bottom: 1px; */
    margin-top: 3px;
    /* width: 20px; */
    font-size: 25px;
}

.services__text-one div:last-of-type, .services__text-two div:last-of-type  {
    margin-left: 42px;
}

.services__text-two {
    margin-top: 32px;
}

.services__text-one div, .services__text-two div {
    position: relative;
}


.design {
    background: url("../img/designBg.png");
    width: 1920px;
    height: 852px;
    box-sizing: border-box;
    padding: 93px 0 0;

}

.design__all {
    margin: 0 auto;
    box-sizing: border-box;
}


.design__description img:first-of-type {
    margin-top: 58px;
    position: relative;
}

.design__description img:last-of-type {
    left: 1081px;
    padding-top: 239px;
    position: absolute;
    box-sizing: border-box;
}

.accordion_wrapper {
    background: url("../img/storyBg.png");
    width: 1920px;
    height: 900px;
    box-sizing: border-box;
    padding: 93px 0 110px;
}


.accordion__all {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.accordion__depiction {
    padding-top: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.accordion-maker {
    width: 600px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordionItemHeading {
    cursor: pointer;
    height: 58px;
    width: 100%;
    outline: none;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    border: 2px solid #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.accordionItem {
    margin-bottom: 16px;
}

.accordionItem:last-of-type {
    margin-bottom: 0;
}

.accordionItemHeading i {
    color: #95e1d3;
    font-size: 25px;
    margin: 0 6px 0 -5px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.accordionItemContent {
    padding: 20px 20px 25px 20px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 2px solid #e5e5e5;
    margin-top: -12px;
    margin-bottom: 12px;
}

.accordionItemContent p {
    font-family: "Roboto Light",sans-serif;
    font-style: italic ;
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 100;
    line-height: 1.55;
    height: 136px;
    padding-right: 30px;
    overflow-y: scroll;
}

.accordionItemContent p::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 14px;
    background-color: #f5f5f5;
}

.accordionItemContent p::-webkit-scrollbar
{
    width: 5px;
    background-color: #f5f5f5;
}

.accordionItemContent p::-webkit-scrollbar-thumb
{
    border-radius: 14px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: #95e1d3;
}

.accordionItemContent:last-of-type {
    margin-bottom: 0;
}

.accordionItemContent:first-of-type {
    display: block;
}

.close .accordionItemContent {
    display: none;
}


.slideshow_wrapper {
    width: 1920px;
    height: 290px;
    background: url("../img/slideshow.png");
}
.slideshow-container {
    position: relative;
    width: 1160px;
    /*height: 150px;*/
    margin: 0 auto;
}


/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    position: relative;
}

.mySlides span {
  font-family: "Roboto Light", sans-serif;
    font-style: italic;
   font-size: 24px;
    color: #cecece;
    line-height: 1.4;
    width: 770px;
    display: block;
    margin-left: auto;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #cccccc;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.author {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    position: relative;
    margin-left: 70px;
    color: black;
}

.author::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #f38181;
    position: absolute;
    top: 20px;
    left: -70px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    /*background-color: #7f807e;*/
    color: grey;
}

.mySlides i {
    position: absolute;
    font-size: 72px;
    border: 2px solid #95e1d3;
    padding: 28px;
    color: #95e1d3;

}

.team__wrapper {
    width: 1920px;
    height: 930px;
    background: url("../img/storyBg.png");
    box-sizing: border-box;
    padding: 93px 0 110px;
}


.team__all {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.team__photo {
    width: 1218px;
    /*height: 486px;*/
    display: flex;
    justify-content: space-between;
    margin-top: 84px;

}

.team__text {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.team__text div:first-of-type {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.team__text div:last-of-type {
    font-family: "Roboto Light",sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #acacac;
}

.team__photo .team__hover:first-of-type{
    width: 380px;
    /*height: 470px;*/
    background: url('../img/teamMatt.png');
    position: relative;
}
.team__photo .team__hover {
    position: relative;
    height: 470px;
}

.team__photo .team__hover:nth-child(2) {
    width: 380px;
    /*height: 470px;*/
    background: url('../img/teamChris.png');
    position: relative;
}

.team__photo .team__hover:last-of-type {
    width: 380px;
    /*height: 470px;*/
    background: url('../img/teamMich.png');
    position: relative;
}

.team__photo .team__hover:hover > #matt,
.team__photo .team__hover:hover > #chris,
.team__photo .team__hover:hover > #michael {
    background: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%);
    height: inherit;
    cursor: pointer;
    box-shadow: 10px 10px 0 0 rgba(149,225,211,1);
    display: block;
}

.team__ul {
    /*display: flex;*/
    /* justify-content: space-between; */
     width: 225px;
    /* height: 58px; */
    position: absolute;
    top: 222px;
    left: 82px;
    display: none;
}

.team__ul li{
    list-style: none ;
}

.team__ul a {
    color:#f38181;
    padding: 16px;
    box-sizing: border-box;
    /* color: yellow; */
     border-right: 1px solid #f38181;
    background: #fce38a;
    font-size: 20px;
}

#last__link,
#last__link-two,
#last__link-three {
    border-right: none;
}

.team__photo .team__hover:hover > #matt .team__ul {
    display: flex;
}

.team__photo .team__hover:hover > #chris .team__ul {
    display: flex;
}

.team__photo .team__hover:hover > #michael .team__ul {
    display: flex;
}

.team__ul li:hover a {
    color: white;
    /*padding: 16px;*/
    box-sizing: border-box;
    background: #f38181;
    width: inherit;
    /*border-right: 1px solid #f38181;*/
}

.label__wrapper {
    background: url(../img/lable.png);
    width: 1920px;
    height: 250px;
    display: flex;
    box-sizing: border-box;
    margin-top: 58px;
    padding-top: 82px;
    /* margin: 0 auto; */
    text-align: center;
    justify-content: space-between;
}

.label__img {
    justify-content: space-between;
    display: flex;
    width: 1177px;
    height: 106px;
    margin: 0 auto;
}

.work__wrapper {
    width: 1920px;
    background: url("../img/storyBg.png");
    box-sizing: border-box;
    padding: 93px 0 0;
}

.work__photo {
    width: 1920px;
    height: 780px;
    margin-top: 94px;
    display: flex;
}

.work__photo_square {
    width: 965px;
    display: flex;
    flex-wrap: wrap;
}


.work__photo__block {
    width: 965px;
    display: flex;
}

.work__photo_two {
    width: 478px;
}

.work__photo img {
    display: block;
}

.work__photo_item {
    width: 480px;
    height: 390px;
    position: relative;
    color: white;
}



.work__photo_item:hover::before {
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    cursor: pointer;
    background: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%);
}

.work__photo_hover-item {
    display: none;
}

.work__photo_hover-item span:first-of-type {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 16px 0 16px 0;
}

.work__photo_hover-item span:last-of-type {
    font-family: "Roboto Light", sans-serif;
    font-style: italic;
    font-size: 15px;
}
.work__photo_hover-item i {
    font-size: 24px;
}

.work__photo_item:hover > .work__photo_hover-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* text-alight: center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jelly  {
    width: 480px;
    height: 780px;
    position: relative;
    color: white;
}

.mySlides > img {
    position: absolute;
}